<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo参照結果</title>

    <th:block th:fragment="links">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </th:block>
</head>
<body>
    <h2>Todo参照結果画面</h2>
    <div class="list-group" style="max-width: 1200px;">
        <table class="table table-striped">
            <tr>
                <th>id</th>
                <th>title</th>
                <th>description</th>
                <th>start</th>
                <th>due</th>
                <th>actual_start</th>
                <th>actual_end</th>
                <th>status</th>
                <th>priority</th>
            </tr>
            <tr th:each="todo : ${todo}">
                <td id="id" th:text="${todo.id}"></td>
                <td id="title" th:text="${todo.title}"></td>
                <td id="description" th:text="${todo.description}"></td>
                <td id="start" th:text="${todo.start}"></td>
                <td id="due" th:text="${todo.due}"></td>
                <td id="actualStart" th:text="${todo.actualStart}"></td>
                <td id="actualEnd" th:text="${todo.actualEnd}"></td>
                <td id="status" th:text="${todo.status}"></td>
                <td id="priority" th:text="${todo.priority}"></td>
            </tr>
        </table>
    </div>

    <form method="get" action="/todo/">
        <input id="menu" type="submit" value="メニューに戻る">
    </form>

    <th:block th:fragment="script">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </th:block>
</body>
</html>