<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>登録画面</title>
</head>
<body>

    <h2>Todo登録画面</h2>
    <form name="todoCreate" method="post" action="./list.html" th:action="@{/todo/regist}">
        <label>タイトル</label><br>
        <input type="text" id="title" name="title" size="30 " maxlength="100" required><br>
        <label>説明</label><br>
        <textarea name="description" row="6" cols="50" maxlength="300"></textarea><br>
        <label>開始時刻</label><br>
        <input type="datetime-local" id="start" name="startTime" required><br>
        <label>終了時刻</label><br>
        <input type="datetime-local" id="due" name="due" required><br>
        <label>優先度</label><br>
        <select id="priority" name="priority">
            <option value="1">リアルタイム</option>
            <option value="2">高</option>
            <option value="3">通常以上</option>
            <option value="4" selected>通常</option>
            <option value="5">通常以下</option>
            <option value="6">低</option>
        </select><br>

        <input type="submit" value="登録">
    </form>

    <form method="get" action="/todo/">
        <input id="menu" type="submit" value="メニューに戻る">
    </form>
</body>
</html>